.poly-cart{
    margin-top:5px;
}
.poly-cart ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
font-variant: small-caps;

}
.poly-cart .panel-heading strong{
    font-variant: small-caps;
    font-size: larger;
    text-shadow: 0 0 2px darkgray;
    
}
article>div>div{
    transform: scale(0.89);
}
*{
    margin: 0;
    padding: 0;
}